<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Join Team</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="ion-text-center ion-margin-vertical" *ngIf="!success">
    <ion-icon name="enter-outline" style="font-size: 80px; color: var(--ion-color-primary);"></ion-icon>
    <h2>Join an Existing Team</h2>
  </div>

  <form #form="ngForm" (ngSubmit)="onSubmit(form)">

    <div *ngIf="!success">
      <div class="ion-margin-bottom">
        <ion-input
          label="Unique team code"
          label-placement="stacked"
          fill="outline"
          type="text"
          ngModel
          name="unique_code"
          required
          placeholder=" ">
        </ion-input>
      </div>
    </div>

    <div class="ion-text-center ion-margin-vertical" *ngIf="message">
      
      <div *ngIf="success" class="ion-margin-bottom">
        <ion-icon name="checkmark-circle-outline" color="success" style="font-size: 80px;"></ion-icon>
      </div>

      <ion-text [color]="success ? 'success' : 'danger'">
        <h3>{{ message }}</h3>
      </ion-text>
    </div>

    <ng-container *ngIf="!success">
      <div class="ion-margin-bottom">
        <ion-button expand="block" type="submit" [disabled]="!form.valid">
          Join
        </ion-button>
      </div>

      <div class="ion-margin-bottom">
        <ion-button expand="block" fill="clear" color="medium" (click)="onCancel()">
          Cancel
        </ion-button>
      </div>
    </ng-container>

    <ng-container *ngIf="success">
      <div class="ion-margin-bottom">
        <ion-button expand="block" color="success" (click)="onClose()">
          Go to Home
        </ion-button>
      </div>
    </ng-container>

  </form>
</ion-content>