<div class="container">
    <h1 class="text">Create team</h1>
    <form class = "form-container"(ngSubmit)="onSubmit(form)" #form="ngForm">
        
      <div class="div">
        <label for="Title" class="form-label">Team name:</label>
        <input type="text" class="form-control" id="Title" ngModel name="name">
      </div>
      <div class="div">
        <label for="Title" class="form-label">Description: </label>
        <textarea class="form-control" id="Description"  rows="4" ngModel name="description"></textarea>
      </div>
      <p style="text-align: center;">{{message}}  </p>
      <div class="button-container" style="margin-top: 15%;" *ngIf="!success">
        <button class="button" type="submit">Save</button>
        <button class="button" type="button"(click)="onCancel()">Cancel</button>
      </div>
      <div class="button-container" style="margin-top: 15%;" *ngIf="success">
        <button class="button" type="button"(click)="onClose()">OK</button>
      </div>
    </form>
  </div>