/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;800&display=swap");
html, body { height: 100%; }
body { margin: 0; font-family: "Poppins", serif;background-color:#07090C;  }
@import "node_modules/@costlydeveloper/ngx-awesome-popup/styles/theme";

.auto-height-modal {
  --height: auto;
  --max-height: 90vh;
  --border-radius: 16px;
  align-items: center; 
}

.auto-height-modal .ion-page {
  position: relative !important;
  display: block !important;
  contain: content;
  height: auto !important;
}
