<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center ion-margin-vertical">
    <ion-icon name="mail-outline" style="font-size: 64px; color: var(--ion-color-primary)"></ion-icon>
    <p>Please enter your email address. We will send you a link to reset your password.</p>
  </div>

  <div class="ion-margin-bottom">
    <ion-input label="Email" label-placement="stacked" fill="outline" type="email" [(ngModel)]="email" required>
    </ion-input>
  </div>

  <div class="ion-margin-bottom">
    <ion-button expand="block" (click)="submit()" [disabled]="!email">
      Send Reset Link
    </ion-button>
  </div>
</ion-content>