.code-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.unique-code {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 5px;
  color: var(--ion-color-dark);
  margin: 20px 0;
  padding: 10px 20px;
  border-radius: 10px;
}