<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Your Teams</ion-title>
    
    <ion-buttons slot="end">
      <ion-button (click)="Logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="6" size-md="4">
        <div class="action-card ion-text-center" (click)="CreateTeam()">
          <ion-icon name="people-outline" style="font-size: 64px; color: var(--ion-text-color);"></ion-icon>
          <p>Create Team</p>
        </div>
      </ion-col>
      <ion-col size="6" size-md="4">
        <div class="action-card ion-text-center" (click)="JoinTeam()">
          <ion-icon name="add-circle-outline" style="font-size: 64px; color: var(--ion-text-color);"></ion-icon>
          <p>Join Team</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let team of userTeams; let i = index">
        <ion-card [routerLink]="['/team', team.id]" button="true" class="team-card">
          <ion-card-header>
            <div style="display: flex; justify-content: space-between; align-items: center;">
              <ion-card-title>{{ team.name | titlecase }}</ion-card-title>
              <ion-note color="secondary">{{ checkRole(i) }}</ion-note>
            </div>
          </ion-card-header>

          <ion-card-content>
            {{ team.description }}
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>