
.container {
    width:auto;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    border: 2px solid #7b4e34; 
  }
  

  .text {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
    color: #333;
  }
  

  .div {

    margin-bottom: 15px;
  }
  
 
  .form-label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }

  .form-control {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #7b4e34;
    box-sizing: border-box;
    resize: vertical; 
  }
  

  .button-div {
    display: flex;
    justify-content: center; 
  }

  .calendar {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }

  .button {
    margin:10px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #7b4e34; 
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    border:1px solid  rgb(250, 238, 209);
  }
  
  .button:hover {
    background-color: rgb(250, 238, 209);
    color: #7b4e34;
    border:1px solid #7b4e34;

  }
  