<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/team/{{team_id}}"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ mode === 'create' ? 'New Task' : 'Edit Task' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form #form="ngForm" (ngSubmit)="onSubmit(form)">

    <div class="ion-margin-bottom">
      <ion-input label="Task Name" label-placement="stacked" fill="outline" [(ngModel)]="taskData.name" name="name"
        required placeholder=" ">
      </ion-input>
    </div>

    <div class="ion-margin-bottom">
      <ion-textarea label="Description" label-placement="stacked" fill="outline" rows="5" auto-grow="true"
        [(ngModel)]="taskData.description" name="description" placeholder="Enter details here...">
      </ion-textarea>
    </div>

    <div class="ion-margin-bottom">
      <ion-select label="Assign Employees" label-placement="stacked" fill="outline" [multiple]="true"
        [(ngModel)]="taskData.workers_id" name="workers_id" okText="Confirm" cancelText="Cancel"
        placeholder="Select one or more">

        <ng-container *ngFor="let user of userList">
          <ion-select-option *ngIf="user" [value]="user.id">
            {{ user.first_name }} {{ user.last_name }}
          </ion-select-option>
        </ng-container>
      </ion-select>
    </div>

    <div class="ion-margin-bottom">
      <ion-input id="date-trigger" label="Due Date" label-placement="stacked" fill="outline"
        [value]="taskData.date ? (taskData.date | date: 'mediumDate') : ''" readonly="true" placeholder="Select Date">
        <ion-icon slot="end" name="calendar-outline" color="medium" style="margin-right: 10px;"></ion-icon>
      </ion-input>
    </div>

    <ion-modal trigger="date-trigger" [keepContentsMounted]="true">
      <ng-template>
        <ion-content>
          <div style="display: flex; justify-content: center; align-items: center; height: 100%;">
            <ion-datetime presentation="date" [(ngModel)]="taskData.date" name="date" [showDefaultButtons]="true">
            </ion-datetime>
          </div>
        </ion-content>
      </ng-template>
    </ion-modal>

    <div class="ion-margin-bottom">
      <ion-button expand="block" type="submit" [disabled]="!form.valid">
        {{ mode === 'create' ? 'Create Task' : 'Update Task' }}
      </ion-button>
    </div>

    <div class="ion-margin-bottom">
      <ion-button expand="block" fill="clear" color="medium" (click)="onCancel()">Cancel</ion-button>
    </div>
    

  </form>
</ion-content>