<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <div class="ion-text-center ion-margin-vertical">
        <ion-icon name="person-circle-outline" style="font-size: 80px; color: var(--ion-color-primary);"></ion-icon>
        <h2>Welcome Back</h2>
    </div>

    <form (ngSubmit)="onSubmit(form)" #form="ngForm">
        <ion-list lines="none">

            <div class="ion-margin-bottom">
                <ion-input label="Username" label-placement="stacked" fill="outline" type="text" ngModel name="username"
                    required>
                </ion-input>
            </div>

            <div class="ion-margin-bottom">
                <ion-input label="Password" label-placement="stacked" fill="outline" type="password" ngModel
                    name="password" required>
                </ion-input>
            </div>
            <div class="ion-text-end" style="margin-top: -10px; margin-bottom: 10px;">
                <ion-button fill="clear" size="small" color="medium" routerLink="/forgot-password"
                    style="text-transform: none;">
                    Forgot Password?
                </ion-button>
            </div>
        </ion-list>

        <div *ngIf="error" class="ion-text-center ion-margin-bottom">
            <ion-text color="danger">
                <p>{{ error }}</p>
            </ion-text>
        </div>

        <div class="ion-margin-bottom">
            <ion-button expand="block" type="submit" [disabled]="!form.valid">
                Sign In
            </ion-button>
        </div>
        <div class="ion-margin-bottom">
            <ion-button expand="block" fill="clear" color="medium" routerLink="/register">
                Don't have an account? Register
            </ion-button>
        </div>

    </form>
</ion-content>