asgiref
attrs
autobahn
Automat
cffi
channels
constantly
cryptography
daphne
Django
django-cors-headers
djangorestframework
hyperlink
idna
incremental
psycopg2
pyasn1
pyasn1_modules
pycparser
pyOpenSSL
python-decouple
pytz
service-identity
setuptools
six
sqlparse
Twisted
twisted-iocpsupport
txaio
typing_extensions
tzdata
zope.interface