<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/team/{{ teamId }}"></ion-back-button>
    </ion-buttons>
    <ion-title>Team Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" #content>
  
  <ion-list lines="none">
    <div *ngFor="let msg of messages" class="message-wrapper" 
         [class.my-message]="isMyMessage(msg)"
         [class.other-message]="!isMyMessage(msg)">
      
      <div class="sender-name" *ngIf="!isMyMessage(msg)">
        {{ msg.sender.first_name || msg.sender.username }}
      </div>

      <div class="message-bubble">
        {{ msg.content }}
      </div>
      
      <div class="message-time">
        {{ msg.send_date | date:'shortTime' }}
      </div>
    </div>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <div class="input-container">
      <ion-textarea 
        auto-grow="true" 
        rows="1" 
        placeholder="Type a message..." 
        [(ngModel)]="newMessage"
        (keydown.enter)="sendMessage()">
      </ion-textarea>
      
      <ion-button fill="clear" (click)="sendMessage()" [disabled]="!newMessage.trim()">
        <ion-icon slot="icon-only" name="send"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>