.message-wrapper {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.message-bubble {
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 80%;
  font-size: 14px;
  position: relative;
  word-wrap: break-word;
}

.sender-name {
  font-size: 10px;
  color: #666;
  margin-left: 10px;
  margin-bottom: 2px;
}

.message-time {
  font-size: 10px;
  color: #999;
  margin-top: 2px;
  align-self: flex-end; /* Czas po prawej */
}

/* MOJE WIADOMOŚCI (Prawa strona) */
.my-message {
  align-items: flex-end;
  
  .message-bubble {
    background: var(--ion-color-primary);
    color: white;
    border-bottom-right-radius: 2px;
  }
  
  .message-time {
    margin-right: 5px;
  }
}

/* INNE WIADOMOŚCI (Lewa strona) */
.other-message {
  align-items: flex-start;

  .message-bubble {
    background: #e0e0e0; /* Jasnoszary */
    color: black;
    border-bottom-left-radius: 2px;
  }
  
  .message-time {
    align-self: flex-start;
    margin-left: 5px;
  }
}

/* FOOTER INPUT */
.input-container {
  display: flex;
  align-items: center;
  padding: 5px;
  width: 100%;
  background: #fff;
}

ion-textarea {
  background: #f0f0f0;
  border-radius: 20px;
  padding-left: 10px;
  margin-right: 5px;
  --padding-top: 10px;
  --padding-bottom: 10px;
  max-height: 100px;
}

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

ion-content {
  flex: 1; /* Zajmij całą dostępną przestrzeń */
}