

.nav-button{
    border-radius: 5px;

}


.navbar {
    background-color: rgb(178, 165, 155);
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 700px;
   

  }
  
  .brand {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    height: 50px;
    width: auto;
    margin-right: 25px;
  }
  
  .brand span {
    font-size: 1.8em;
  }
  
  .user-info{
    margin-right: 5%;
  }

  .buttons {
    display: flex;
    
  }
  
  .button {
    margin:10px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #7b4e34; 
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    border:1px solid  #7b4e34;
  }
  
  .button:hover {
    background-color: rgb(250, 238, 209);
    color: #7b4e34;
    border:1px solid #7b4e34;

  }
  
  .user-info {
    display: flex;
    align-items: center;
  }

