
<div class="navbar">
    <div class="brand">
      <div class="logo">
        <img style="cursor: pointer;" routerLink="/home" src="/assets/img/logo.png" alt="Logo Projektu"/>
      </div>
    </div>
      
    
    <div class="user-info">
        <div class="buttons">
            <button class="button" (click)="CreateTeam()">Create</button>
            <button class="button" (click)="JoinTeam()">Join</button>
          </div>
      <span style="margin-left: 20px;font-size: 1.2em;">Hello, {{user.firstname}} {{user.lastname}}!</span>
      <button class ="button" (click)="Logout()">Log out</button>
    </div>
</div>



