<div class="container mt-5">
  <h1 style="text-align: center;" [ngSwitch]="true">
    <ng-container *ngSwitchCase="day==1 || day==21 || day==31">
      {{day}}st of {{month}}
    </ng-container>
    <ng-container *ngSwitchCase="day==2 || day ==22">
      {{day}}nd of {{month}}
    </ng-container>
    <ng-container *ngSwitchCase="day==3 || day==23">
      {{day}}rd of {{month}}
    </ng-container>
    <ng-container *ngSwitchDefault>
      {{day}}th of {{month}}
    </ng-container>
  </h1>
      <div class="tasks-container">
        <div class="task" *ngFor="let task of tasks;let i = index">
          <div class="task-info">
            <div class="task-name">{{ task.name }}</div>
            <div class="task-description">{{ task.description }}</div>
            <div class="CRUD">             
                <fa-icon [icon]="editicon" size="xl" style="cursor: pointer;"></fa-icon>
                <fa-icon [icon]="trashicon" size="xl" style="cursor: pointer;" (click)="Delete('expense',task.id)"></fa-icon>
            </div>
            
        </div>
      </div>
      </div>
      <p style="text-align: center;">{{message}}</p>
      <div class="button-container">
        <button class="cancel-button" type="button" (click)="onCancel()">Ok</button>
      </div>
    
  </div>
  