<div class="container">
    <h1 style="text-align: center;">Edit Task</h1>
    <form class = "form-container"(ngSubmit)="OnSubmit(form)" #form="ngForm">
  
      <div class="div">
        <label for="Title" class="form-label">Task name:</label>
        <input type="text" class="form-control" id="Title" ngModel name="name">
      </div>
      <div class="div">
        <label for="Title" class="form-label">Task description: </label>
        <textarea class="form-control" id="Description" rows="4" ngModel name="description"></textarea>
      </div>
      <div class = "dropDown-div">
        <!-- <ng-multiselect-dropdown [placeholder]="'Select employees'" [settings]="dropdownSettings" [data]="dropdownList"
          [(ngModel)]="selectedItems" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)"
          (onDeSelect)="onItemDeSelect($event)" (onDeSelectAll)="onItemDeSelectAll($event)">
        </ng-multiselect-dropdown> -->
      </div>
      <div class="div">
        <mat-form-field>
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker" ngModel name="date">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <!-- <p style="text-align: center;">{{message}} </p>
      <div class="button-container" style="margin-top: 15%;" *ngIf="!success">
        <button class="button" type="submit">Save</button>
        <button class="button" type="button" (click)="onCancel()">Cancel</button>
      </div>
      <div class="button-container" style="margin-top: 15%;" *ngIf="success">
        <button class="button" type="button" (click)="onClose()">OK</button>
      </div> -->
    </form>
  </div>