<div class="body">
<fa-icon class="icon" [icon]="backIcon" [routerLink]="['/team',teamId]"> </fa-icon>
    <div class="container">
        
        <div class="buttons-box">
            <div class="buttonCode">
                <fa-icon class="icon" [icon]="codeIcon" style="color:white;font-size: 10vh;"(click)="showUniqueCode()"></fa-icon>
                <p class="button-name">Team Code</p>
            </div>
            <div class="buttonCode">
                <fa-icon class="icon" [icon]="deleteIcon" style="color:white;font-size: 10vh;"(click)="deleteTeam()"></fa-icon>
                <p class="button-name">Delete Team</p>
            </div>
        </div>
        <div class="team-info"> 
            <h1 class="teamName">{{teamName}}</h1> 
            <div class="scroll">           
                <div class="employee_list_container" *ngFor="let user of TeamUsers; let i = index">
                    <div class="employee_list"> 
                        <label class="label" for="employee{{i+1}}">{{user.first_name}} {{user.last_name}}</label>
                    </div>
                    <div>
                        <fa-icon class="deleteIcon" [icon]="deleteUser" (click)="removeUser(user.id)"> </fa-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


