<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Set New Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center ion-margin-vertical">
    <ion-icon name="lock-open-outline" style="font-size: 64px; color: var(--ion-color-primary)"></ion-icon>
    <p>Create a new, strong password for your account.</p>
  </div>

  <div class="ion-margin-bottom">
    <ion-input type="password" label-placement="stacked" fill="outline" [(ngModel)]="password"></ion-input>
  </div>

  <div class="ion-margin-bottom">
    <ion-button expand="block" (click)="submit()" [disabled]="password.length < 8">
      Change Password
    </ion-button>
  </div>
</ion-content>