<div class="body">
    <div class="container">
        <div class="calendar-container">
            <h1>{{dateInformation.currentMonth}} {{dateInformation.currentYear}}</h1>
            <ul>
                <div class="callendar" (click)="DisplayDay(i+1)" *ngFor="let day of dateInformation.currentMonthDays;let i = index"
                    [ngClass]="{'today': i === dateInformation.currentDay-1}">
                    <time>{{i+1}}</time>
                    <p *ngIf="TaskCounterMap.get(i+1)!=0">Tasks to do:{{TaskCounterMap.get(i+1)}}</p>
                </div>
            </ul>
        </div>

        <div class="workers_list" *ngIf="isManager">
            <h1 class="teamName"> Nazwa Druzyny </h1>
            <!-- <button class="button" (click)="showUniqueCode()">Unique code</button> -->
            <div class="button-container2">
                <div style="display:flex; flex-direction: column;align-items: center;">            
                    <fa-icon class="icon" [icon]="plus" style="color:white;font-size: 10vh;"(click)="AddTaskPopup()"style="color:white; font-size: 5vw; cursor: pointer;"></fa-icon>
                <p style="color:white;font-size: smaller;padding-top:5px;">Add task</p>
                </div>
                <div style="display:flex; flex-direction: column;align-items: center;">            
                    <fa-icon class="icon" [icon]="gearIcon" [routerLink]="['/team',teamId,'options']" style="color:white; font-size: 5vw; cursor: pointer;"></fa-icon>
                    <p style="color:white;font-size: smaller;padding-top: 5px;">Edit Team</p>
                </div>
            </div>
            <div class="employee_list_container" *ngFor="let user of TeamUsers; let i = index">
                <ul class="employee_list">
                    <li>
                        <input class="checkbox" type="checkbox" id="employee{{i+1}}" [(ngModel)]="user.isChecked"
                            (change)="checkSelectedUser(i)">
                        <label class="label" for="employee{{i+1}}">{{user.first_name}} {{user.last_name}}</label>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>